/*-- scss:defaults --*/
$code-color: #FF4500;
$link-color: #FF4500;

h2, h3 {
    color: #FF4500;
}

.quarto-title-banner {
    padding-top: 15px !important;
    padding-bottom: 15px !important;

}

caption, .table-caption {
    text-align: left !important;
    color: #626262 !important;
}


/*
h3 {
    color: #1B2426;
}
*/


/* Default table styles */
table {
    width: 100%;
    /* Other table styles... */
  }
  
  /* Styles for mobile devices */
  @media (max-width: 767px) {
    table {
      width: 100%;
      font-size: 0.5rem;
      /* Additional table styles for mobile... */
    }
  }